# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules

# build files
# dist (সরিয়ে দেওয়া হলো যাতে গিটহাবে যায়)
dist-ssr
*.local

# Environment variables and sensitive files
# .env (সরিয়ে দেওয়া হলো যাতে গিটহাবে যায়)
.env.local
.env.production
uploads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?*.exp
deploy-env.sh
