# ডায়নামিক লাইব্রেরি (এটি অনেক বড় ফোল্ডার, হোস্টিংগার এটি নিজে ইনস্টল করবে)
node_modules/

# সিক্রেট ফাইল (এখানে আপনার ডাটাবেস পাসওয়ার্ড থাকে, এটি আপলোড করা বিপজ্জনক)
.env

# লগ ফাইল
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# অপারেটিং সিস্টেম ফাইল
.DS_Store
Thumbs.db